<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>키워드 점수</title>
</head>
<body>
    <h1>키워드 점수 보기</h1>
    <table border="1">
        <thead>
            <tr>
                <th>프로그래밍 언어</th>
                <th>점수</th>
            </tr>
        </thead>
        <tbody>
            {% for keyword, score in hotkeywords.items %}
            <tr>
                <td>{{ keyword }}</td>
                <td>{{ score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
